@import url(../css/reset.css);

*{
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    line-height: 1.6;
    /* position: relative; */
}

a{
    color: #333;
    text-decoration: none;
    display: block;
}

h2{
    font-size: 40px;
    color: #333;
}

h3{
    font-size: 24px;
    color: #333;
}


p{
    color: #333;
    font-size: 16px;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/* ----------------nav-------------------- */

header{
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: white;
}

nav{
    /* border: 1px solid black; */
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100px;

    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

nav h1{
    width: 75px;
    height: 75px;
    /* border: 1px solid black; */
    /* margin-left: 32px; */
}

nav a{
    display: block;
    width: 100%;
    height: 100%;
}

nav a:hover{
    cursor: pointer;
}

h1 img{
    display: block;
    width: 100%;
    height: 100%;
}

nav ul{
    display: flex;
    width: 600px;
    /* border: 1px solid black; */
    font-size: 0;
    text-align: center;
}

nav li{
    flex-grow: 1;
    font-size: 0;
    font-size: 18px;
} 

nav li:last-child{
    flex-grow: 0;
    flex-basis: 90px;
    height: 30px;
    /* border: 1px solid black; */
    /* align-items: flex-end; */
}

nav ul a{
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    /* border: 1px solid black; */    
}

nav li:hover a{
    background-color: #F5A651;
    color: white;
}

/* -------footer-------- */

footer{
    /* border: 1px solid black; */
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    flex-direction: column;
    background-color: #F5A651;
    text-align: center;
}

.follow{
    width: 100%;
    margin: 0 auto;
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    
}

.follow h3{
    margin-right: 10px;
    color: white;
}

.follow ul{
    display: flex;
    
}

.follow li{
    margin-right: 10px;
}

i{
    font-size: 36px;
    text-align: center;
    color: white;
}

.follow a{
    display: block;
    width: 40px;
    /* border: 1px solid black; */
}

.cop{
    width: 1200px;
    margin: 0 auto;
}

.cop p{
    color: white; 
}