@import url(../css/base.css);

nav > ul > li:nth-child(5) > a{
    color:#F5A651;
}

nav > ul > li:nth-child(5) > a:hover{
    color: white;
}

/* body{
    background-color: #F7D8B0;
    opacity: .3;
} */


/* ----------- sign up ------------- */


.cnt{
    margin-top: 110px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    height: 30px;
    line-height: 30px;
    width: 100px;
    text-align: center;
    color: #1F3CA1;
    border-bottom: 1px solid #1F3CA1;
    margin-bottom: 20px;
}


.form{
    /* border: 1px solid black; */
    width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.name{
    display: block;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #333;
}

.phone{
    display: block;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #333;
}

.email{
    display: block;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #333;
}

.content{
    display: block;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #333;
}

p{
    margin-bottom: 10px;
    margin-left: 25px;
}

#file_input{
    display: block;
    margin-bottom: 10px;
    margin-left: 25px;
    border: 0;
    background-color: #F5A651;
    color: white;
}

.submit{
    display: block;
    width: 75px;
    height: 30px;
    line-height: 30px;
    border: 0;
    background-color: #F5A651;
    color: white;
    font-size: 16px;
    margin-left: 25px;
    margin-top: 20px;
}

#img_block{
    margin-left: 25px;
    margin-bottom: 10px;
}

.email2{
    margin-left: 25px;
}

.phone2{
    margin-left: 10px;
}