@import url(../css/base.css);

nav > ul > li:last-child > a{
    color:#F5A651;
}

nav > ul > li:last-child > a:hover{
    color: white;
}
/* --------------------------------- */

.bre{
    margin-top: 110px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    height: 30px;
    line-height: 30px;
    width: 110px;
    text-align: center;
    color: #1F3CA1;
    border-bottom: 1px solid #1F3CA1;
    margin-bottom: 20px;
}

.siu{
    text-align: center;
    margin-bottom: 20px;

    animation: qqq 1.3s forwards;
    opacity: 0;
}

@keyframes qqq{
    0%{transform: translateY(-300px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

.form2{
    border: 1px soild black;
    display: block;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    margin-bottom: 40px;
}

.form2 li{
    
}

.form2 p{
    margin-bottom: 5px;
}

.form2 input{
    
}

.form2 .email{
    display: block;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #333;
    padding-left: 10px;
}

.form2 .password{
    display: block;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #333;
    padding-left: 10px;
}

.form2 .password2{
    display: block;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #333;
    padding-left: 10px;
}

.form2 .name{
    display: block;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #333;
    padding-left: 10px;
}

.form2 .phone{
    display: block;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #333;
    padding-left: 10px;
}

.form2 .address{
    display: block;
    width: 350px;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #333;
    padding-left: 10px;
}

.form2 .submit{
    /* display: block; */
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 16px;
    border: 0;
    background-color: #F5A651;
    color: white;
}

.form2 p:not(.a, .b){
    margin-left: 25px;
}

.form2 .a, .b{
    /* border: 1px solid black; */
    font-size: 20px;
    width: 130px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}